body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #6a5acd, Lavender);
}

header {
    background-color: #6a5acd;
    color: #fff;
    text-align: center;
    padding: 20px;
    transition: transform 1.5s ease;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    transition: transform 0.3s ease; /* Added transform transition */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::before,
nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -1px;
    background: #fff;
    transition: width 0.3s ease;
}

nav a::before {
    left: 50%;
}

nav a::after {
    right: 50%;
}

nav a:hover {
    color: #ffd700;
}

nav a:hover::before,
nav a:hover::after {
    width: 50%;
}

nav ul li:hover {
    transform: scale(1.2); /* Zoom-in effect on hover */
}

section {
    padding: 50px;
    transform: translateY(100%);
    transition: transform 1s ease;
}

body.reveal section {
    transform: translateY(0);
}

#about, #skills, #projects, #contact {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
    padding: 20px;
    overflow: hidden;
    transform: scale(0.8);
    transition: transform 0.5s ease;
}

#about:hover, #skills:hover, #projects:hover, #contact:hover {
    transform: scale(1);
}

#about h2, #skills h2, #projects h2, #contact h2 {
    color: #6a5acd;
    font-size: 36px;
    margin-bottom: 20px;
    transition: color 0.5s ease, font-size 0.5s ease;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: justify;
}

.about-content {
    flex-basis: calc(60% - 20px);
    margin-right: 20px;
}

.profile-image {
    flex-basis: calc(35% - 20px);
    margin-top: 20px;
    order: 2;
}

#about img {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
    height: auto;
    position: relative;
    overflow: hidden;
    transition: border-radius 0.1s ease, transform 0.3s ease;
}

#about img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
    opacity: 0;
    transition: opacity 0.5s ease;
}

#about:hover img::before {
    opacity: 1;
}

#about:hover img {
    border-radius: 0;
    transform: rotate(360deg);
}

#about h5 {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #6a5acd;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 5px;
    width: 100%;
    transition: background 0.5s ease;
}
